.App {
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "e p";
}

.editor{
  color: white;
  padding: 2%;
  grid-area: e;
  height: 100%;
  background-color: #00701a;
  border-width: medium;
  border-style: solid;
  border-color:black;
}

#editor{
  color:black;
  height: 400px;
  background-color: #76d275;
}

.preview{
  color: white;
  grid-area: p;
  border-color: black;
  height: 100%;
  background-color: #00701a;
  border-width: medium;
  border-style: solid;
  border-color:black;
}

#preview{
  padding: 1%;
  text-align: left;
  color: black;
  background-color: #76d275;
  border-width: 0px;
  border-top-width: medium;
  border-style: solid;
  border-color:black;
}